.vim{
    width:85%;
    padding:20px;
    border-style: solid;
    background-color:white;
    border-radius:20px; 
    font-size:10px;
    margin:10px auto;
    max-width:450px;
    box-shadow: 5px 5px;
   

}
   
.formbody{
    background-color: aquamarine;
    
}
input[type=file]{
    width:70%;
    padding:10px;
font-size:15px;  
}
select{
    width:80%;
    padding:10px;
    border-style: solid;
    background-color:rgb(156, 197, 199);
    border-radius:10px; 
    font-size:15px;
    margin:10px;
    max-width:450px;
    box-shadow: 5px 5px;
 }
 .hash{
     background-color: yellowgreen;
     width:30%;
 }
 .rip{
     background-color: rgb(197, 255, 91);
     box-shadow: black;
 }

